@inject VillageRMS.Services.LoginStateService LoginStateService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">VillageRMS</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class=" bii bi-house" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if (LoginStateService.IsLoggedIn) //limit menu visiblity
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="rentals">
                    <span class="bii bi-card-checklist" aria-hidden="true"></span> Rentals
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="rental-equipment">
                    <span class="bii bi-wrench-adjustable-circle" aria-hidden="true"></span> Rental Equipment
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="customers">
                    <span class="bi bi-people fs-5 mb-4" aria-hidden="true"></span> Customers
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="categories">
                    <span class="bi bi-tools fs-5 mb-4" aria-hidden="true"></span> Rental Categories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink href="#" class="nav-link" @onclick="ToggleReportSubmenu">
                <span class="bi bi-file-earmark-spreadsheet fs-5 mb-4" aria-hidden="true"></span> Reports
            </NavLink>
            @* collapse *@
            <div class="submenu @(isReportSubmenuOpen ? "show" : "")">
                <div class="nav-item px-3 ms-3">
                    <NavLink class="nav-link" href="ReportSalesByDate">
                        <span class="m-1">Sales By Date</span>
                    </NavLink>
                </div>
                <div class="nav-item px-3 ms-3">
                    <NavLink class="nav-link" href="ReportSalesByDate">
                        <span class="m-1">Sales By Customer</span>
                    </NavLink>
                </div>
                <div class="nav-item px-3 ms-3">
                    <NavLink class="nav-link" href="ReportSalesByDate">
                        <span class="m-1">List items by category</span>
                    </NavLink>
                </div>
            </div>
        </div>
        }
    </nav>
</div>


@code {
    private bool isReportSubmenuOpen = false;

    //collapse
    private void ToggleReportSubmenu()
    {
        isReportSubmenuOpen = !isReportSubmenuOpen;
    }

    //handle state changes
    protected override void OnInitialized()
    {
        LoginStateService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        LoginStateService.OnChange -= StateHasChanged;
    }
}