@page "/"
@using VillageRMS.Components
@inject VillageRMS.Services.LoginStateService LoginStateService

<h1>VillageRMS</h1>

Welcome to the Village Rental Management System.

@if (!LoginStateService.IsLoggedIn)
{
    <p class="text-warning m-1">@notLoggedInMsg</p>
}

@code {
    private bool isInitialized = false;
    private string notLoggedInMsg = "Please login.";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (!LoginStateService.IsLoggedIn)
            {
                //Todo: some action if not logged in
            }
            LoginStateService.OnChange += StateHasChanged;
        } catch (Exception e)
        {
            
        }

    }

    public void Dispose()
    {
        LoginStateService.OnChange -= StateHasChanged;
    }

}