@page "/"

<h1>VillageRMS</h1>

Welcome to Village Rental Management System

@code {
    List<VillageRentals> students = new List<VillageRentals>();
    private string server = "localhost";
    private string userId = "root";
    private string password = "WebP0rt@!";
    private string database = "demo211";

    
}