@namespace VillageRMS.Components
@inject VillageRMS.Services.LoginStateService LoginStateService

<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@(Show ? "block" : "none"); background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="width: 100%; height: 100%; margin: auto;">
            <div class="modal-body d-flex flex-column align-items-center justify-content-center" style="height: 100%;">
                <div class="w-100" style="max-width: 376px;">
                    <div class="mt-2">
                        <!-- some space before welcome -->
                    </div>
                    <div class="text-center mb-4">
                        <h5>Welcome to</h5>
                        <h2 class="modal-title">Village RMS</h2>
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" @bind="Username" class="form-control" placeholder="Username" />
                        </div>
                        <div class="form-group mt-3">
                            <label for="password">Password</label>
                            <input type="password" id="password" @bind="Password" class="form-control" placeholder="Password" />
                        </div>
                        <div class="form-group mt-4">
                            <button type="button" class="btn btn-primary " style="width: 138px;" @onclick="Login" disabled="@(string.IsNullOrEmpty(Username) || string.IsNullOrEmpty(Password))">Login</button>
                        </div>
                        <div class="mt-5">
                            <!-- some space after login button -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public EventCallback<bool> OnLoginSuccess { get; set; }

    private string Username { get; set; }
    private string Password { get; set; }

    private string ModalClass => Show ? "show" : "";

    public bool Show { get; set; }

    public void ShowModal()
    {
        Show = true;
        StateHasChanged();
    }

    public void Hide()
    {
        Show = false;
        StateHasChanged();
    }

    private async Task Login()
    {
        // todo: database validation
        if (Username == "admin" && Password == "password")
        {
            LoginStateService.IsLoggedIn = true; // update login state
            await OnLoginSuccess.InvokeAsync(true);
            Hide();
        }
        else
        {
            // if invalid login
        }
    }
}
